.footer{
    margin-bottom: 0;
    padding-top: 10px;
    border-top:1px solid black ;
}
.footer .box-container{
    display: flex;
    flex-wrap: wrap;
    gap:1.5rem;
}

.footer .box-container .box{
    flex:1 1 10rem;   
    padding: 0 100px;
    text-align: center;
    text-transform: uppercase;
}

.footer .box-container .box h3{
    color:#333;
    font-size:1.7rem;
    padding:1rem 0;

}

.footer .box-container .box .link1{
    display:block;
    color:#666;
    font-size:1rem;
    padding:1rem 0;
    text-align: center;

}

.footer hr {
    margin: auto;
    width: 80%;
    margin-top: 150px;
    margin-bottom: 70px;
    border-top: 1px solid black;
}

.footer .box-container .box .link1:hover{
    color: #009688;
    text-decoration: underline;
    
}  

.footer .box-container .box img{
    margin-top: 1rem;
    height:4rem;
}
.footer .credit{
    text-align: center;
    padding: 1.5rem;
    margin-top: 1.5rem;
    padding-top: 2.5rem;
    font-size: 2rem;
    color:#333;
    border: .1rem solid rgba(0,0,0,.1);
}